.frontpage {
    gap: 15px;

    .header {
        display: grid;
        justify-content: center;

        h1 {
            margin: 0 0;
        }
    }

    .chat-container {
        display: grid;
        justify-content: start;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'participants chat-window'
                             'participants compose';
        gap: 10px;

        .participants {
            border: 1px solid black;
            box-sizing: border-box;
            padding: 10px;
            grid-area: participants;

            h3 {
                margin: 0 0 10px 0;
            }

            .spinner {
                background: url('../img/spinner-circle.svg');
                width: 50px;
                height: 50px;
                background-size: cover;
                margin: auto;
            }
        }

        .chat-window {
            display: grid;
            border: 1px solid black;
            box-sizing: border-box;
            height: 300px;
            grid-area: chat-window;
            overflow-y: scroll;
            position: relative;
            align-items: end;

            .spinner {
                background: url('../img/spinner-circle.svg');
                width: 50px;
                height: 50px;
                background-size: cover;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 40%;
                text-align: center;
            }

            .messages {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 5px;
                box-sizing: border-box;

                .row {
                    display: grid;
                    gap: 3px;

                    .date {
                        font-size: .8em;
                    }

                    .author {
                        font-size: .9em;

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .compose {
            width: 100%;
            box-sizing: border-box;
            grid-area: compose;
            display: grid;
            gap: 5px;
            grid-template-columns: 1fr auto;

            .btn {
                display: grid;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                background: linear-gradient(rgb(0, 88, 160), rgb(81, 156, 255));
                color: #fff;
                text-shadow: 1px 1px 2px black;
                border: 1px solid rgb(105, 105, 105);
                border-radius: 1px;

                &:hover {
                    background: linear-gradient(rgb(0, 60, 109), rgb(20, 122, 255));
                    cursor: pointer;
                }
            }

            textarea {
                height: 30px;
                resize: none;
            }
        }

    }

    

}