html, body {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    justify-content: center;
    width: 100%;
}

// Wrapper START

.wrapper {
    width: 960px;
    display: grid;
}

@media screen and (max-width: 960px) {
    .wrapper {
        width: 720px;
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        width: 540px;
    }
}

@media screen and (max-width: 540px) {
    .wrapper {
        width: 375px;
    }
}

// Wrapper END

.container {
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    padding: 20px 20px 40px 20px;
}

.input-error {
    border-color: red;
}

.input-error-text {
    position: absolute;
    right: 0;
    top: -18px;
    color: red;
    font-size: .8em;
}