.login {
    justify-content: center;
    background: #fff;

    h1 {
        margin: 0 0;
    }

    h2 {
        margin-top: 5px;
    }

    .header {
        font-weight: 100;

        span {
            font-weight: bold;
        }
    }
    
    .description {
        font-size: .9em;
    }

    .form {
        display: grid;
        gap: 15px;
        justify-content: start;

        .input-field {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            gap: 15px;
            position: relative;

            input {
                background: #fff;
            }

            label {
                font-weight: bold;
            }
        }

        button {
            padding: 10px 20px;
            background: #4687ff;
            color: #fff;
            text-shadow: 1px 1px 2px black;
            border: 1px solid rgb(105, 105, 105);
            border-radius: 1px;

            &:hover {
                background: #2a74ff;
                cursor: pointer;
            }
        }

    }
}